Repository microsoft/autogen, pull requests merged in 2023-11, with the labels that each got.

#466 Adding async support to get_human_input
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_async_get_human_input.py
Labels: enhancement, ui/deploy

#455 Added a simple Testbed tool for repeatedly running templated Autogen scenarios with tightly-controlled initial conditions.
  samples/tools/testbed/README.md
  samples/tools/testbed/includes/ENV.example
  samples/tools/testbed/includes/testbed_utils.py
  samples/tools/testbed/run_scenarios.py
  samples/tools/testbed/scenarios/default_two_agents.jsonl
  samples/tools/testbed/scenarios/default_two_agents.py
  samples/tools/testbed/scenarios/human_eval_two_agents.py
  samples/tools/testbed/utils/collate_human_eval.py
  samples/tools/testbed/utils/download_humaneval.py
  samples/tools/testbed/utils/metrics_human_eval.py
Labels: group chat, evaluation, robustness, code-execution

#501 Add support to unstructrued
  .github/workflows/build.yml
  autogen/retrieve_utils.py
  test/test_files/example.docx
  test/test_retrieve_utils.py
  website/blog/2023-10-18-RetrieveChat/index.mdx
  website/docs/Installation.md
Labels: enhancement, rag

#551 copy dicts before modifying
  autogen/oai/client.py
  autogen/oai/openai_utils.py
  autogen/version.py
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_chess.ipynb
  notebook/agentchat_function_call.ipynb
  notebook/agentchat_groupchat.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  notebook/agentchat_groupchat_research.ipynb
  notebook/agentchat_groupchat_vis.ipynb
  notebook/agentchat_human_feedback.ipynb
  notebook/agentchat_langchain.ipynb
  notebook/agentchat_planning.ipynb
  notebook/agentchat_stream.ipynb
  notebook/agentchat_two_users.ipynb
  notebook/agentchat_web_info.ipynb
Labels: bug, documentation

#482 Notebook/hierarchy flow
  notebook/agentchat_hierarchy_flow_using_select_speaker.ipynb
  test/test_notebook.py
Labels: documentation, group chat

#443 Add CompressibleAgent
  .github/workflows/contrib-openai.yml
  .github/workflows/contrib-tests.yml
  autogen/agentchat/contrib/compressible_agent.py
  notebook/agentchat_compression.ipynb
  test/agentchat/contrib/test_compressible_agent.py
Labels: long context handling

#603 Added warnings for some GroupChat misconfigurations and selection errors
  autogen/agentchat/groupchat.py
Labels: group chat

#636 Add basic notebook for gptassistant
  autogen/agentchat/contrib/gpt_assistant_agent.py
  notebook/agentchat_oai_assistant_twoagents_basic.ipynb
Labels: openai-assistant

#639 Openai assistant function usage notebook
  notebook/agentchat_oai_assistant_function_call.ipynb
Labels: function, openai-assistant

#647 add EcoAssistant blog
  website/blog/2023-11-09-EcoAssistant/img/chat.png
  website/blog/2023-11-09-EcoAssistant/img/results.png
  website/blog/2023-11-09-EcoAssistant/img/system.png
  website/blog/2023-11-09-EcoAssistant/img/template-demo.png
  website/blog/2023-11-09-EcoAssistant/img/template.png
  website/blog/2023-11-09-EcoAssistant/index.mdx
  website/blog/authors.yml
Labels: research

#644 Add code interpreter for GptAssistant Notebook.
  notebook/agentchat_oai_code_interpreter.ipynb
Labels: documentation, code-execution, openai-assistant

#593 Sets the umask before executing the task in Docker.
  samples/tools/testbed/README.md
  samples/tools/testbed/includes/testbed_utils.py
  samples/tools/testbed/run_scenarios.py
  samples/tools/testbed/scenarios/default_two_agents.py
  samples/tools/testbed/scenarios/human_eval_two_agents.py
Labels: testbed

#671 Allows users to specify a different requirements.txt file to install …
  samples/tools/testbed/README.md
  samples/tools/testbed/includes/requirements.txt
  samples/tools/testbed/run_scenarios.py
Labels: testbed

#678 Addresses issue 635, relating to newlines in Windows.
  samples/tools/testbed/run_scenarios.py
Labels: testbed

#693 Added an 'auto' mode to last_n_messages
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_conversable_agent.py
Labels: group chat, robustness, code-execution

#689 fix assistant creating without file
  autogen/agentchat/contrib/gpt_assistant_agent.py
  test/agentchat/contrib/test_gpt_assistant.py
Labels: integration, openai-assistant

#694 Add RAG gptassistant example notebook
  notebook/agentchat_oai_assistant_retrieval.ipynb
  website/docs/Examples/AgentChat.md
  website/docs/Use-Cases/agent_chat.md
Labels: documentation, openai-assistant

#572 Fix some type annotations and edge cases
  autogen/agentchat/assistant_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/agentchat/user_proxy_agent.py
Labels: documentation

#669 Makes select_speaker more robust by checking for mentions anywhere.
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: group chat

#688 Update speaker selector in GroupChat and update some notebooks
  .github/workflows/build.yml
  autogen/agentchat/groupchat.py
  notebook/agentchat_RetrieveChat.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  notebook/agentchat_qdrant_RetrieveChat.ipynb
  notebook/agentchat_teaching.ipynb
  setup.py
  test/agentchat/test_groupchat.py
Labels: group chat

#672 Update FAQ.md with api_base vs base_url question
  website/docs/FAQ.md
Labels: documentation

#701 Re-added completion logging when using older versions of Autogen.
  samples/tools/testbed/includes/testbed_utils.py
Labels: testbed

#503 fix typos in function helper text
  autogen/agentchat/conversable_agent.py
  autogen/oai/completion.py
  test/agentchat/test_assistant_agent.py
Labels: documentation

#496 Support custom text formats and recursive
  .github/workflows/build.yml
  .github/workflows/contrib-tests.yml
  autogen/agentchat/contrib/qdrant_retrieve_user_proxy_agent.py
  autogen/agentchat/contrib/retrieve_user_proxy_agent.py
  autogen/retrieve_utils.py
  notebook/agentchat_RetrieveChat.ipynb
  test/test_retrieve_utils.py
Labels: enhancement, rag

#681 Adding first version of AgentEval -- a framework for assessing task utility for LLM-powered applications
  .gitignore
  notebook/agenteval_cq_math.ipynb
  test/test_files/agenteval-in-out/samples/sample_math_criteria.json
  test/test_files/agenteval-in-out/samples/sample_math_evaluated_results.json
  test/test_files/agenteval-in-out/samples/sample_math_response_failed.txt
  test/test_files/agenteval-in-out/samples/sample_math_response_successful.txt
  test/test_files/agenteval-in-out/samples/sample_test_case.json
  website/blog/2023-11-20-AgentEval/img/agenteval-CQ.png
  website/blog/2023-11-20-AgentEval/img/math-problems-plot.png
  website/blog/2023-11-20-AgentEval/img/tasks-taxonomy.png
  website/blog/2023-11-20-AgentEval/index.mdx
  website/blog/authors.yml
Labels: evaluation

#571 improve CODE_BLOCK_PATTERN for a more robust code match
  autogen/code_utils.py
  test/test_code.py
Labels: code-execution

#655 Update OAI_CONFIG_LIST_sample
  OAI_CONFIG_LIST_sample
Labels: documentation

#718 support retrievaling assistant by name
  autogen/agentchat/contrib/gpt_assistant_agent.py
  autogen/oai/openai_utils.py
  test/agentchat/contrib/test_gpt_assistant.py
Labels: openai-assistant

#579 how to register a rely function Issue-478
  website/docs/FAQ.md
Labels: documentation

#795 Improve docstring of query_texts and search_string
  autogen/agentchat/contrib/qdrant_retrieve_user_proxy_agent.py
  autogen/agentchat/contrib/retrieve_user_proxy_agent.py
  autogen/retrieve_utils.py
Labels: documentation, rag

#804 GroupChat handle is_termination_msg
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: group chat, termination

#803 Add ecosystem page for website
  README.md
  website/docs/Ecosystem.md
  website/docs/Examples.md
  website/docs/Examples/Inference.md
  website/docs/Getting-Started.md
  website/docs/img/ecosystem-memgpt.png
  website/docusaurus.config.js
Labels: documentation, help wanted
