Repository microsoft/autogen, pull requests merged in 2023-12, with the labels that each got.

#717 add a verbose flag to let gpt assistant print more log
  autogen/agentchat/contrib/gpt_assistant_agent.py
  autogen/agentchat/conversable_agent.py
  notebook/agentchat_oai_assistant_function_call.ipynb
Labels: function, openai-assistant

#848 Testbed can now read the OPENAI_API_KEY in addition to OAI_CONFIG_LIST
  samples/tools/testbed/run_scenarios.py
Labels: ra-oss, testbed

#876 Clarifies the phrasing in notebook agent_hierarchy_flow_using_select_speaker
  notebook/agentchat_hierarchy_flow_using_select_speaker.ipynb
Labels: documentation, group chat

#810 Adds the GAIA benchark to the Testbed. This PR depends on #792
  samples/tools/testbed/README.md
  samples/tools/testbed/scenarios/GAIA/Templates/BasicTwoAgents/expected_answer.txt
  samples/tools/testbed/scenarios/GAIA/Templates/BasicTwoAgents/scenario.py
  samples/tools/testbed/utils/collate_gaia_csv.py
  samples/tools/testbed/utils/collate_gaia_jsonl.py
  samples/tools/testbed/utils/expand_gaia.py
  samples/tools/testbed/utils/metrics_gaia.py
Labels: evaluation, testbed

#850 Website Gallery page building
  website/docs/Ecosystem.md
  website/docs/Gallery.mdx
  website/docusaurus.config.js
  website/package.json
  website/src/components/GalleryPage.js
  website/src/css/custom.css
  website/src/data/gallery.json
  website/static/img/gallery/default.png
  website/yarn.lock
Labels: documentation

#912 Allow GroupChat to receive messages from outside.
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: group chat

#736 Added an agent description field distinct from the system_message.
  autogen/agentchat/assistant_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/agentchat/user_proxy_agent.py
  test/agentchat/test_conversable_agent.py
Labels: group chat

#543 Make groupchat & generation async, actually
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  notebook/agentchat_stream.ipynb
  test/agentchat/test_async.py
Labels: group chat, async

#911 Raise error when function as llm_config passed to GroupChatManager
  autogen/agentchat/groupchat.py
  notebook/agentchat_groupchat_RAG.ipynb
  test/agentchat/test_function_call_groupchat.py
Labels: robustness

#791 Convert ChatCompletionMessage to Dict after completion
  .github/workflows/build.yml
  autogen/agentchat/contrib/compressible_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/oai/client.py
  test/agentchat/test_function_call.py
  test/oai/test_client.py
  test/oai/test_client_stream.py
  website/docs/Installation.md
  website/docs/Use-Cases/enhanced_inference.md
Labels: dependencies

#619 New Retriever API
  .github/workflows/contrib-openai.yml
  .github/workflows/contrib-tests.yml
  autogen/__init__.py
  autogen/agentchat/contrib/qdrant_retrieve_user_proxy_agent.py
  autogen/agentchat/contrib/retrieve_user_proxy_agent.py
  autogen/agentchat/contrib/retriever/__init__.py
  autogen/agentchat/contrib/retriever/base.py
  autogen/agentchat/contrib/retriever/chromadb.py
  autogen/agentchat/contrib/retriever/lancedb.py
  autogen/agentchat/contrib/retriever/retrieve_utils.py
  autogen/retrieve_utils.py
  notebook/agentchat_RetrieveChat.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  setup.py
  test/agentchat/contrib/retrievers/test_chromadb.py
  test/agentchat/contrib/retrievers/test_lancedb.py
  test/agentchat/contrib/retrievers/test_qdrant_retrievechat.py
  test/agentchat/contrib/retrievers/test_retrieve_utils.py
  test/agentchat/contrib/retrievers/test_retrievechat.py
Labels: rag, integration

#986 Allow users to specify the Docker image to use with Testbed
  samples/tools/testbed/Dockerfile
  samples/tools/testbed/README.md
  samples/tools/testbed/run_scenarios.py
Labels: testbed

#905 Enable allow_repeat_speaker to be a list of agents
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: group chat

#925 Filter out candidates with the same name but different instructions, …
  autogen/agentchat/contrib/gpt_assistant_agent.py
  autogen/oai/openai_utils.py
  test/agentchat/contrib/test_gpt_assistant.py
Labels: openai-assistant

#1052 [Docs/Contributing] Clarification on running non-OpenAI tests
  website/docs/Contribute.md
Labels: documentation

#1110 openai base url default to None; read files when env vars exist; remove deprecated models
  autogen/oai/client.py
  autogen/oai/openai_utils.py
  test/oai/test_client.py
  test/oai/test_utils.py
Labels: bug, oai_config_list
