Repository microsoft/autogen, pull requests merged in 2024-05, with the labels that each got.

#2522 Docker multilanguage executor saver with policy
  autogen/code_utils.py
  autogen/coding/docker_commandline_code_executor.py
  test/coding/test_commandline_code_executor.py
Labels: code-execution

#2225 Text Compression Transform
  .github/workflows/contrib-tests.yml
  autogen/agentchat/contrib/capabilities/text_compressors.py
  autogen/agentchat/contrib/capabilities/transforms.py
  setup.py
  test/agentchat/contrib/capabilities/test_transforms.py
  website/docs/FAQ.mdx
  website/docs/installation/Optional-Dependencies.md
  website/docs/topics/handling_long_contexts/_category_.json
  website/docs/topics/handling_long_contexts/compressing_text_w_llmligua.md
  website/docs/topics/handling_long_contexts/intro_to_transform_messages.md
Labels: enhancement, long context handling

#2601 Update graph_utils.py
  autogen/graph_utils.py
Labels: group chat

#2627 Resuming a GroupChat
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
  website/docs/topics/groupchat/resuming_groupchat.ipynb
Labels: group chat

#2615 Feature: Add ability to use a separate python environment in local executor
  autogen/code_utils.py
  autogen/coding/local_commandline_code_executor.py
  test/coding/test_commandline_code_executor.py
  test/test_code_utils.py
  website/docs/topics/code-execution/cli-code-executor.ipynb
Labels: code-execution

#2425 Rewrite AutoGen Studio Database Layer to Use SQLModel ORM
  samples/apps/autogen-studio/.gitignore
  samples/apps/autogen-studio/README.md
  samples/apps/autogen-studio/autogenstudio/chatmanager.py
  samples/apps/autogen-studio/autogenstudio/cli.py
  samples/apps/autogen-studio/autogenstudio/database/__init__.py
  samples/apps/autogen-studio/autogenstudio/database/alembic.ini
  samples/apps/autogen-studio/autogenstudio/database/dbmanager.py
  samples/apps/autogen-studio/autogenstudio/database/migrations/README
  samples/apps/autogen-studio/autogenstudio/database/migrations/__init__.py
  samples/apps/autogen-studio/autogenstudio/database/migrations/env.py
  samples/apps/autogen-studio/autogenstudio/database/migrations/script.py.mako
  samples/apps/autogen-studio/autogenstudio/database/utils.py
  samples/apps/autogen-studio/autogenstudio/datamodel.py
  samples/apps/autogen-studio/autogenstudio/utils/__init__.py
  samples/apps/autogen-studio/autogenstudio/utils/dbutils.py
  samples/apps/autogen-studio/autogenstudio/utils/utils.py
  samples/apps/autogen-studio/autogenstudio/version.py
  samples/apps/autogen-studio/autogenstudio/web/app.py
  samples/apps/autogen-studio/autogenstudio/workflowmanager.py
  samples/apps/autogen-studio/frontend/src/components/atoms.tsx
  samples/apps/autogen-studio/frontend/src/components/header.tsx
  samples/apps/autogen-studio/frontend/src/components/types.ts
  samples/apps/autogen-studio/frontend/src/components/utils.ts
  samples/apps/autogen-studio/frontend/src/components/views/builder/agents.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/models.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/skills.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/utils/agentconfig.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/utils/modelconfig.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/utils/selectors.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/utils/workflowconfig.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/workflow.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/chatbox.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/ra.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/sessions.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/sidebar.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/utils/selectors.tsx
  samples/apps/autogen-studio/frontend/src/hooks/store.tsx
  samples/apps/autogen-studio/frontend/src/styles/global.css
  samples/apps/autogen-studio/pyproject.toml
Labels: studio

#2659 Fix for runtime logging not supported with GPTAssistantAgent
  autogen/agentchat/contrib/gpt_assistant_agent.py
Labels: openai-assistant, logging

#2661 Ignore Some Messages When Transforming
  autogen/agentchat/contrib/capabilities/transforms.py
  autogen/oai/openai_utils.py
  test/agentchat/contrib/capabilities/test_transforms.py
  test/oai/test_utils.py
Labels: enhancement

#2789 Remove duplicate project declared in AutoGen.sln
  dotnet/AutoGen.sln
Labels: AutoGen.Net

#2815 [.Net] Release note for 0.0.14
  .github/workflows/dotnet-release.yml
  dotnet/website/update.md
Labels: AutoGen.Net

#2814 [.Net] Update website for AutoGen.SemanticKernel and AutoGen.Ollama
  dotnet/sample/AutoGen.Ollama.Sample/Chat_With_LLaMA.cs
  dotnet/sample/AutoGen.Ollama.Sample/Chat_With_LLaVA.cs
  dotnet/sample/AutoGen.SemanticKernel.Sample/Create_Semantic_Kernel_Chat_Agent.cs
  dotnet/sample/AutoGen.SemanticKernel.Sample/Use_Kernel_Functions_With_Other_Agent.cs
  dotnet/src/AutoGen.Ollama/AutoGen.Ollama.csproj
  dotnet/website/articles/Agent-overview.md
  dotnet/website/articles/AutoGen.Ollama/Chat-with-llama.md
  dotnet/website/articles/AutoGen.Ollama/Chat-with-llava.md
  dotnet/website/articles/AutoGen.SemanticKernel/AutoGen-SemanticKernel-Overview.md
  dotnet/website/articles/AutoGen.SemanticKernel/SemanticKernelAgent-simple-chat.md
  dotnet/website/articles/AutoGen.SemanticKernel/SemanticKernelAgent-support-more-messages.md
  dotnet/website/articles/AutoGen.SemanticKernel/SemanticKernelChatAgent-simple-chat.md
  dotnet/website/articles/AutoGen.SemanticKernel/Use-kernel-plugin-in-other-agents.md
  dotnet/website/articles/Installation.md
  dotnet/website/articles/toc.yml
Labels: AutoGen.Net

#2825 fix typo and update news
  README.md
  autogen/agentchat/contrib/gpt_assistant_agent.py
  website/blog/2024-05-24-Agent/index.mdx
  website/docs/topics/groupchat/resuming_groupchat.ipynb
Labels: documentation
