Repository microsoft/autogen, pull requests merged in 2024-11, with the labels that each got.

#4026 Custom selector function for SelectorGroupChat
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/base/_termination.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_round_robin_group_chat.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_selector_group_chat.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_swarm_group_chat.py
  python/packages/autogen-agentchat/tests/test_group_chat.py
Labels: proj-agentchat

#4030 AssistantAgent no longer sends out StopMessage. We use TextMentionTermination("TERMINATE") on the team instead for default setting.
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
  python/packages/autogen-agentchat/tests/test_group_chat.py
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/examples/company-research.ipynb
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/examples/literature-review.ipynb
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/examples/travel-planning.ipynb
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/tutorial/selector-group-chat.ipynb
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/tutorial/termination.ipynb
Labels: proj-agentchat

#4028 Add token usage to messages
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/messages.py
  python/packages/autogen-agentchat/tests/test_assistant_agent.py
Labels: proj-agentchat

#4035 Add token usage termination
  python/packages/autogen-agentchat/src/autogen_agentchat/task/__init__.py
  python/packages/autogen-agentchat/src/autogen_agentchat/task/_terminations.py
  python/packages/autogen-agentchat/tests/test_termination_condition.py
Labels: proj-agentchat

#4053 Rename `model_usage` to `models_usage`.
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/messages.py
  python/packages/autogen-agentchat/src/autogen_agentchat/task/_terminations.py
  python/packages/autogen-agentchat/tests/test_assistant_agent.py
  python/packages/autogen-agentchat/tests/test_termination_condition.py
Labels: proj-agentchat

#4073 Move reset from a message to a command
  .github/workflows/checks.yml
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_base_chat_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_code_executor_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/base/_chat_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/messages.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_chat_agent_container.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_events.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_selector_group_chat.py
  python/packages/autogen-agentchat/tests/test_group_chat.py
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/tutorial/agents.ipynb
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/tutorial/selector-group-chat.ipynb
Labels: proj-agentchat

#4078 Magnetic One - readme update
  python/packages/autogen-magentic-one/README.md
Labels: proj-magentic-one

#4071 Initial web surfer implementation in extension
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/agents/__init__.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/__init__.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_events.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_multimodal_web_surfer.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_set_of_mark.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_tool_definitions.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_types.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_utils.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/page_script.js
  python/uv.lock
Labels: proj-agentchat

#4104 Fix worker sample in core
  python/packages/autogen-core/samples/worker/run_worker_pub_sub.py
  python/packages/autogen-core/samples/worker/run_worker_rpc.py
Labels: proj-core

#4258 block comment SwaggerUI so that we don't turn it on by default - closes #4257 CodeScan alert
  dotnet/samples/dev-team/DevTeam.Backend/Program.cs
Labels: dotnet

#4159 .net changes to re-enable xlang support, add subscription apis
  dotnet/Directory.Packages.props
  dotnet/global.json
  dotnet/samples/Hello/Backend/Backend.csproj
  dotnet/samples/Hello/Backend/Program.cs
  dotnet/samples/Hello/Backend/appsettings.json
  dotnet/samples/Hello/Hello.AppHost/Hello.AppHost.csproj
  dotnet/samples/Hello/Hello.AppHost/Program.cs
  dotnet/samples/Hello/HelloAIAgents/HelloAIAgents.csproj
  dotnet/samples/Hello/HelloAgent/HelloAgent.csproj
  dotnet/samples/Hello/HelloAgent/Program.cs
  dotnet/samples/Hello/HelloAgentState/HelloAgentState.csproj
  dotnet/samples/Hello/HelloAgentState/Program.cs
  dotnet/samples/dev-team/DevTeam.AgentHost/DevTeam.AgentHost.csproj
  dotnet/samples/dev-team/DevTeam.Agents/DevTeam.Agents.csproj
  dotnet/samples/dev-team/DevTeam.AppHost/DevTeam.AppHost.csproj
  dotnet/samples/dev-team/DevTeam.Backend/DevTeam.Backend.csproj
  dotnet/samples/dev-team/DevTeam.Shared/DevTeam.Shared.csproj
  dotnet/src/AutoGen.Core/Function/FunctionAttribute.cs
  dotnet/src/Microsoft.AutoGen/Abstractions/IAgentBase.cs
  dotnet/src/Microsoft.AutoGen/Abstractions/IAgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Abstractions/IAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Abstractions/Microsoft.AutoGen.Abstractions.csproj
  dotnet/src/Microsoft.AutoGen/Agents/AgentBase.cs
  dotnet/src/Microsoft.AutoGen/Agents/AgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Agents/Microsoft.AutoGen.Agents.csproj
  dotnet/src/Microsoft.AutoGen/Agents/Services/AgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/AgentWorkerHostingExtensions.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcAgentWorkerHostBuilderExtension.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcGateway.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Host.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/HostBuilderExtensions.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Orleans/ISubscriptionsGrain.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Orleans/RegistryGrain.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Orleans/SubscriptionsGrain.cs
  dotnet/src/Microsoft.AutoGen/Extensions/AIModelClientHostingExtensions/AIModelClientHostingExtensions.csproj
  dotnet/src/Microsoft.AutoGen/Extensions/SemanticKernel/Microsoft.AutoGen.Extensions.SemanticKernel.csproj
  dotnet/src/Microsoft.AutoGen/Extensions/ServiceDefaults/Microsoft.AutoGen.ServiceDefaults.csproj
  dotnet/test/AutoGen.AotCompatibility.Tests/AutoGen.AotCompatibility.Tests.csproj
  dotnet/test/AutoGen.Tests/AutoGen.Tests.csproj
  python/.gitignore
Labels: dotnet

#4294 External termination condition
  python/packages/autogen-agentchat/src/autogen_agentchat/task/__init__.py
  python/packages/autogen-agentchat/src/autogen_agentchat/task/_terminations.py
  python/packages/autogen-agentchat/tests/test_termination_condition.py
Labels: proj-agentchat

#4149 task: added warning when none is called in intervention handler
  python/packages/autogen-core/src/autogen_core/base/intervention.py
Labels: awaiting-op-response

#4050 Bugfix: Web surfer creating incomplete copy of messages
  autogen/agentchat/contrib/web_surfer.py
Labels: 0.2

#4365 Fix assistant agent doc
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_assistant_agent.py
Labels: documentation

#4387 Adds Video Surfer to autogen_ext
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/agents/__init__.py
  python/packages/autogen-ext/src/autogen_ext/agents/video_surfer/__init__.py
  python/packages/autogen-ext/src/autogen_ext/agents/video_surfer/_video_surfer.py
  python/packages/autogen-ext/src/autogen_ext/agents/video_surfer/tools.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/__init__.py
  python/packages/autogen-studio/autogenstudio/database/component_factory.py
  python/uv.lock
Labels: proj-extensions

#4428 Improve docs
  python/packages/autogen-core/docs/src/conf.py
Labels: documentation
