Repository microsoft/autogen, pull requests merged in 2024-07, with the labels that each got.

#3057 update readme
  README.md
  website/docs/Getting-Started.mdx
  website/docs/contributor-guide/contributing.md
  website/docusaurus.config.js
Labels: documentation

#2965 Blog post for enhanced non-OpenAI model support
  notebook/agentchat_nested_chats_chess_altmodels.ipynb
  website/blog/2024-06-24-AltModels-Classes/img/agentstogether.jpeg
  website/blog/2024-06-24-AltModels-Classes/index.mdx
  website/blog/authors.yml
  website/docs/Examples.md
  website/docusaurus.config.js
Labels: alt-models

#3032 Demo Notebook for Using Gemini with VertexAI
  website/docs/topics/non-openai-models/cloud-gemini_vertexai.ipynb
  website/static/img/create_gcp_svc.png
Labels: documentation, integration, alt-models

#3086 Enhance vertexai integration
  autogen/agentchat/chat.py
  autogen/agentchat/conversable_agent.py
  autogen/oai/gemini.py
  autogen/oai/openai_utils.py
  test/agentchat/test_chats.py
  test/agentchat/test_conversable_agent.py
  test/oai/test_gemini.py
  website/docs/topics/non-openai-models/cloud-gemini.ipynb
  website/docs/topics/non-openai-models/cloud-gemini_vertexai.ipynb
Labels: integration, alt-models

#3000 +mdb atlas vectordb [clean_final]
  .github/workflows/contrib-tests.yml
  autogen/agentchat/contrib/vectordb/base.py
  autogen/agentchat/contrib/vectordb/mongodb.py
  notebook/agentchat_RetrieveChat_mongodb.ipynb
  setup.py
  test/agentchat/contrib/vectordb/test_mongodb.py
Labels: rag

#3197 Recreated doc for Local LLMs - LiteLLM and Ollama - native function calling in Ollama
  website/docs/topics/non-openai-models/local-litellm-ollama.ipynb
  website/docs/topics/non-openai-models/local-litellm-ollama.md
Labels: documentation, alt-models
