Repository microsoft/autogen, pull requests merged in 2024-12, with the labels that each got.

#4491 WriteAsync must be awaited in Grains
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcGateway.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Orleans/ISubscriptionsGrain.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Orleans/SubscriptionsGrain.cs
Labels: dotnet

#4669 refactor renaming agent base - 4667
  dotnet/samples/Hello/HelloAgent/Program.cs
  dotnet/samples/Hello/HelloAgentState/Program.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agent.cs
  dotnet/src/Microsoft.AutoGen/Agents/AgentExtensions.cs
  dotnet/src/Microsoft.AutoGen/Agents/AgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/AIAgent/InferenceAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/AIAgent/SKAiAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/IOAgent/IOAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Client.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/AgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/HostBuilderExtensions.cs
  dotnet/test/Microsoft.AutoGen.Agents.Tests/AgentTests.cs
Labels: dotnet

#4624 WebSurfer Documentation and Fixes
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/__init__.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/_multimodal_web_surfer.py
  python/packages/autogen-ext/src/autogen_ext/agents/web_surfer/playwright_controller.py
  python/packages/autogen-ext/tests/test_playwright_controller.py
  python/packages/autogen-ext/tests/test_websurfer_agent.py
  python/uv.lock
Labels: proj-extensions, proj-magentic-one

#4673 Rysweet 4671 remove iagent base
  dotnet/samples/dev-team/DevTeam.Backend/Agents/Sandbox.cs
  dotnet/src/Microsoft.AutoGen/Abstractions/IAgentBase.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agent.cs
  dotnet/src/Microsoft.AutoGen/Agents/AgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/AIAgent/InferenceAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/AIAgent/SKAiAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Agents/IOAgent/ConsoleAgent/IHandleConsole.cs
  dotnet/src/Microsoft.AutoGen/Agents/IAgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Agents/IAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/AgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/Grpc/GrpcAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Agents/Services/HostBuilderExtensions.cs
Labels: dotnet

#4689 Rysweet 4688 core doesnt use orleans
  dotnet/src/Microsoft.AutoGen/Agents/IHandle.cs
  dotnet/src/Microsoft.AutoGen/Agents/Microsoft.AutoGen.Agents.csproj
  dotnet/test/Microsoft.AutoGen.Integration.Tests/HelloAppHostIntegrationTests.cs
Labels: dotnet

#4696 rysweet-4677-rename-agents-project-to-core-trim-dependencies
  README.md
  dotnet/AutoGen.sln
  dotnet/samples/Hello/HelloAIAgents/HelloAIAgent.cs
  dotnet/samples/Hello/HelloAIAgents/HelloAIAgents.csproj
  dotnet/samples/Hello/HelloAIAgents/Program.cs
  dotnet/samples/Hello/HelloAgent/HelloAgent.csproj
  dotnet/samples/Hello/HelloAgent/Program.cs
  dotnet/samples/Hello/HelloAgentState/HelloAgentState.csproj
  dotnet/samples/Hello/HelloAgentState/Program.cs
  dotnet/samples/dev-team/DevTeam.AgentHost/DevTeam.AgentHost.csproj
  dotnet/samples/dev-team/DevTeam.Agents/DevTeam.Agents.csproj
  dotnet/samples/dev-team/DevTeam.Agents/Developer/Developer.cs
  dotnet/samples/dev-team/DevTeam.Agents/DeveloperLead/DeveloperLead.cs
  dotnet/samples/dev-team/DevTeam.Agents/ProductManager/ProductManager.cs
  dotnet/samples/dev-team/DevTeam.Agents/Program.cs
  dotnet/samples/dev-team/DevTeam.Backend/Agents/AzureGenie.cs
  dotnet/samples/dev-team/DevTeam.Backend/Agents/Hubber.cs
  dotnet/samples/dev-team/DevTeam.Backend/DevTeam.Backend.csproj
  dotnet/samples/dev-team/DevTeam.Backend/Program.cs
  dotnet/samples/dev-team/DevTeam.Backend/Services/GithubWebHookProcessor.cs
  dotnet/samples/dev-team/DevTeam.Shared/DevTeam.Shared.csproj
  dotnet/src/Microsoft.AutoGen/Agents/AIAgent/InferenceAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/AIAgent/SKAiAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/ConsoleAgent/ConsoleAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/ConsoleAgent/IHandleConsole.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/FileAgent/FileAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/IOAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/WebAPIAgent/WebAPIAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/Microsoft.AutoGen.Agents.csproj
  dotnet/src/Microsoft.AutoGen/Contracts/Microsoft.AutoGen.Contracts.csproj
  dotnet/src/Microsoft.AutoGen/Core.Grpc/App.cs
  dotnet/src/Microsoft.AutoGen/Core.Grpc/GrpcAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Core.Grpc/GrpcAgentWorkerHostBuilderExtension.cs
  dotnet/src/Microsoft.AutoGen/Core.Grpc/Microsoft.AutoGen.Core.Grpc.csproj
  dotnet/src/Microsoft.AutoGen/Core/Agent.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentExtensions.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentTypes.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Core/App.cs
  dotnet/src/Microsoft.AutoGen/Core/Client.cs
  dotnet/src/Microsoft.AutoGen/Core/EventTypes.cs
  dotnet/src/Microsoft.AutoGen/Core/HostBuilderExtensions.cs
  dotnet/src/Microsoft.AutoGen/Core/IAgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Core/IAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Core/IHandle.cs
  dotnet/src/Microsoft.AutoGen/Core/Microsoft.AutoGen.Core.csproj
  dotnet/src/Microsoft.AutoGen/Core/ReflectionHelper.cs
  dotnet/src/Microsoft.AutoGen/Extensions/SemanticKernel/Microsoft.AutoGen.Extensions.SemanticKernel.csproj
  dotnet/test/Microsoft.AutoGen.Agents.Tests/AgentTests.cs
  dotnet/test/Microsoft.AutoGen.Agents.Tests/Microsoft.AutoGen.Agents.Tests.csproj
Labels: dotnet

#4640 fix: No context vars for async agents replies
  autogen/agentchat/conversable_agent.py
Labels: 0.2

#4500 feat: add support for list of messages as team task input
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_base_chat_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/agents/_society_of_mind_agent.py
  python/packages/autogen-agentchat/src/autogen_agentchat/base/_task.py
  python/packages/autogen-agentchat/src/autogen_agentchat/state/__init__.py
  python/packages/autogen-agentchat/src/autogen_agentchat/state/_states.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_base_group_chat.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_base_group_chat_manager.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_chat_agent_container.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_events.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_magentic_one/_magentic_one_orchestrator.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_round_robin_group_chat.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_selector_group_chat.py
  python/packages/autogen-agentchat/src/autogen_agentchat/teams/_group_chat/_swarm_group_chat.py
  python/packages/autogen-agentchat/tests/test_assistant_agent.py
  python/packages/autogen-agentchat/tests/test_group_chat.py
  python/packages/autogen-agentchat/tests/test_society_of_mind_agent.py
Labels: group chat/teams

#4740 Rysweet 4676 remove iagentruntime - collapse into iagentworker
  README.md
  dotnet/samples/Hello/HelloAIAgents/HelloAIAgent.cs
  dotnet/samples/Hello/HelloAIAgents/Program.cs
  dotnet/samples/Hello/HelloAgent/Program.cs
  dotnet/samples/Hello/HelloAgent/README.md
  dotnet/samples/Hello/HelloAgentState/Program.cs
  dotnet/samples/Hello/HelloAgentState/README.md
  dotnet/samples/dev-team/DevTeam.Agents/Developer/Developer.cs
  dotnet/samples/dev-team/DevTeam.Agents/DeveloperLead/DeveloperLead.cs
  dotnet/samples/dev-team/DevTeam.Agents/ProductManager/ProductManager.cs
  dotnet/samples/dev-team/DevTeam.Backend/Agents/AzureGenie.cs
  dotnet/samples/dev-team/DevTeam.Backend/Agents/Hubber.cs
  dotnet/src/Microsoft.AutoGen/Agents/AIAgent/InferenceAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/AIAgent/SKAiAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/ConsoleAgent/ConsoleAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/FileAgent/FileAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/IOAgent.cs
  dotnet/src/Microsoft.AutoGen/Agents/IOAgent/WebAPIAgent/WebAPIAgent.cs
  dotnet/src/Microsoft.AutoGen/Core.Grpc/GrpcAgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Core/Agent.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentExtensions.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentMessenger.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentMessengerFactory.cs
  dotnet/src/Microsoft.AutoGen/Core/AgentWorker.cs
  dotnet/src/Microsoft.AutoGen/Core/Client.cs
  dotnet/src/Microsoft.AutoGen/Core/IAgentRuntime.cs
  dotnet/src/Microsoft.AutoGen/Core/IHandleExtensions.cs
  dotnet/test/Microsoft.AutoGen.Agents.Tests/AgentTests.cs
  dotnet/test/Microsoft.AutoGen.Integration.Tests/HelloAppHostIntegrationTests.cs
  dotnet/test/Microsoft.AutoGen.Integration.Tests/InMemoryRuntimeIntegrationTests.cs
  python/packages/autogen-core/samples/xlang/hello_python_agent/hello_python_agent.py
Labels: dotnet

#4746 Auto Hashing ID for VectorDB Classes
  autogen/agentchat/contrib/vectordb/base.py
  autogen/agentchat/contrib/vectordb/mongodb.py
  autogen/agentchat/contrib/vectordb/qdrant.py
  test/agentchat/contrib/vectordb/test_mongodb.py
Labels: 0.2
