Repository microsoft/autogen, pull requests merged in 2024-09, with the labels that each got.

#3457 fix model_config SQLModel
  samples/apps/autogen-studio/autogenstudio/datamodel.py
Labels: studio

#3392 Fix for Anthropic client class so system messages aren't lost
  autogen/oai/anthropic.py
Labels: alt-models

#3388 [Graph RAG] Init Commit with GraphRag interfaces
  autogen/agentchat/contrib/graph_rag/__init__.py
  autogen/agentchat/contrib/graph_rag/document.py
  autogen/agentchat/contrib/graph_rag/graph_query_engine.py
  autogen/agentchat/contrib/graph_rag/graph_rag_capability.py
  notebook/agentchat_nested_sequential_chats.ipynb
  test/agentchat/contrib/graph_rag/test_graph_rag_basic.py
Labels: rag

#3476 Enable human interaction in AutoGenStudio - Solution 2
  samples/apps/autogen-studio/autogenstudio/chatmanager.py
  samples/apps/autogen-studio/autogenstudio/web/app.py
  samples/apps/autogen-studio/autogenstudio/websocket_connection_manager.py
  samples/apps/autogen-studio/autogenstudio/workflowmanager.py
  samples/apps/autogen-studio/frontend/src/components/atoms.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/utils/agentconfig.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/chatbox.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/sessions.tsx
  samples/apps/autogen-studio/frontend/src/hooks/store.tsx
Labels: studio

#3407 Fix the bug of creating a new session on the AutoGen Studio playgroun…
  samples/apps/autogen-studio/frontend/src/components/views/playground/sessions.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/utils/selectors.tsx
Labels: studio

#3528 Fix for Issue #3527 - Studio - Never Ending Error Loop
  samples/apps/autogen-studio/autogenstudio/web/app.py
  samples/apps/autogen-studio/autogenstudio/workflowmanager.py
Labels: studio

#3517 Added instructions to launch frontend server when running from source
  samples/apps/autogen-studio/README.md
Labels: studio
