Repository microsoft/autogen, pull requests merged in 2024-08, with the labels that each got.

#3271 Correcting tool calling with Cohere
  autogen/oai/cohere.py
Labels: alt-models

#3318 Add last_speaker to GroupChatManager
  autogen/agentchat/groupchat.py
Labels: group chat

#3298 Fix to issue #3295 related to Anthropic bedrock
  autogen/oai/client.py
Labels: alt-models

#3357 Missing backticks breaking documentation in groupchat.last_speaker
  autogen/agentchat/groupchat.py
Labels: documentation, group chat

#3356 Update Mistral client class to support new Mistral v1.0.1 package
  autogen/oai/mistral.py
  setup.py
  test/oai/test_mistral.py
Labels: alt-models

#2635 Ensure 'name' on initial message
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: llm

#2719 Ability to add MessageTransforms to the GroupChat's Select Speaker nested chat (speaker_selection_method='auto')
  autogen/agentchat/contrib/capabilities/transform_messages.py
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
  website/docs/topics/groupchat/transform_messages_speaker_selection.ipynb
Labels: group chat

#3412 Fix for group chat resume - full chat history for each agent
  autogen/agentchat/groupchat.py
Labels: group chat

#3410 Add None back to remove_termination_string for a_resume in group chat
  autogen/agentchat/groupchat.py
Labels: group chat

#3232 Amazon Bedrock Client for AutoGen
  .github/workflows/contrib-tests.yml
  autogen/logger/file_logger.py
  autogen/logger/sqlite_logger.py
  autogen/oai/bedrock.py
  autogen/oai/client.py
  autogen/runtime_logging.py
  setup.py
  test/oai/test_bedrock.py
  website/docs/topics/non-openai-models/cloud-anthropic.ipynb
  website/docs/topics/non-openai-models/cloud-bedrock.ipynb
  website/docs/topics/non-openai-models/cloud-cohere.ipynb
Labels: alt-models

#3334 Transform to add an agent's name into the message content
  autogen/agentchat/contrib/capabilities/transforms.py
  test/agentchat/contrib/capabilities/test_transforms.py
  website/docs/topics/non-openai-models/transforms-for-nonopenai-models.ipynb
Labels: alt-models

#3406 Fix AutoGen Studio pathPrefix error on Windows
  samples/apps/autogen-studio/frontend/gatsby-config.ts
Labels: studio

#3355 fix: tool calling cohere
  autogen/oai/cohere.py
  website/docs/topics/non-openai-models/cloud-cohere.ipynb
Labels: alt-models
