Repository microsoft/autogen, pull requests merged in 2024-02, with the labels that each got.

#1434 Implement Overwrite Tools Functionality in GPTAssistantAgent
  autogen/agentchat/contrib/gpt_assistant_agent.py
  test/agentchat/contrib/test_gpt_assistant.py
Labels: openai-assistant

#1518 change code_execution_config default
  autogen/agentchat/assistant_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/version.py
Labels: code-execution

#1495 Add notebooks section on website
  .github/workflows/deploy-website.yml
  notebook/agentchat_RetrieveChat.ipynb
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_function_call_async.ipynb
  notebook/contributing.md
  website/.gitignore
  website/README.md
  website/docs/Gallery.mdx
  website/docs/notebooks.mdx
  website/docusaurus.config.js
  website/process_notebooks.py
  website/src/components/GalleryPage.js
  website/src/components/NotebookUtils.js
  website/src/css/custom.css
  website/src/theme/prism-include-languages.js
Labels: documentation, enhancement

#1532 remove useless code in groupchat; simplify the handling of termination msg
  autogen/agentchat/groupchat.py
  autogen/version.py
  test/agentchat/contrib/test_society_of_mind_agent.py
Labels: group chat

#1475 Autogenstudio Updates [CSV support, Workflow Export, Skill Editing, Windows Testing ]
  samples/apps/autogen-studio/README.md
  samples/apps/autogen-studio/autogenstudio/__init__.py
  samples/apps/autogen-studio/autogenstudio/chatmanager.py
  samples/apps/autogen-studio/autogenstudio/datamodel.py
  samples/apps/autogen-studio/autogenstudio/utils/dbdefaults.json
  samples/apps/autogen-studio/autogenstudio/utils/dbutils.py
  samples/apps/autogen-studio/autogenstudio/utils/utils.py
  samples/apps/autogen-studio/autogenstudio/version.py
  samples/apps/autogen-studio/autogenstudio/web/app.py
  samples/apps/autogen-studio/autogenstudio/workflowmanager.py
  samples/apps/autogen-studio/frontend/.env.default
  samples/apps/autogen-studio/frontend/README.md
  samples/apps/autogen-studio/frontend/gatsby-config.ts
  samples/apps/autogen-studio/frontend/package.json
  samples/apps/autogen-studio/frontend/src/components/atoms.tsx
  samples/apps/autogen-studio/frontend/src/components/footer.tsx
  samples/apps/autogen-studio/frontend/src/components/icons.tsx
  samples/apps/autogen-studio/frontend/src/components/types.ts
  samples/apps/autogen-studio/frontend/src/components/utils.ts
  samples/apps/autogen-studio/frontend/src/components/views/builder/agents.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/build.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/models.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/skills.tsx
  samples/apps/autogen-studio/frontend/src/components/views/builder/workflow.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/chatbox.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/metadata.tsx
  samples/apps/autogen-studio/frontend/src/components/views/playground/sessions.tsx
  samples/apps/autogen-studio/frontend/src/styles/global.css
  samples/apps/autogen-studio/frontend/tailwind.config.js
  samples/apps/autogen-studio/notebooks/agent_spec.json
  samples/apps/autogen-studio/notebooks/groupchat_spec.json
  samples/apps/autogen-studio/notebooks/tutorial.ipynb
  website/blog/2023-12-01-AutoGenStudio/index.mdx
Labels: studio

#857 Graph group chat
  autogen/agentchat/groupchat.py
  autogen/graph_utils.py
  notebook/agentchat_graph_modelling_language_using_select_speaker.ipynb
  notebook/agentchat_hierarchy_flow_using_select_speaker.ipynb
  setup.py
  test/agentchat/test_groupchat.py
  test/test_graph_utils.py
  website/docs/Examples.md
  website/docs/Use-Cases/agent_chat.md
  website/docs/installation/Optional-Dependencies.md
Labels: enhancement, group chat

#1402 New `initiate_chats` Interface for Managing Dependent Chats in ConversableAgent
  autogen/agent_utils.py
  autogen/agentchat/chat.py
  autogen/agentchat/conversable_agent.py
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_multi_task_chats.ipynb
  test/agentchat/test_chats.py
  website/docs/Examples.md
Labels: enhancement

#1556 Update devcontainer.json with copilot extension
  .devcontainer/devcontainer.json
Labels: enhancement, dev

#1543 Add mypy config to pyproject.toml
  pyproject.toml
  setup.py
Labels: dev

#1578 Fix a couple of tiny issues in blog posts
  website/blog/2023-11-13-OAI-assistants/index.mdx
  website/blog/2023-12-01-AutoGenStudio/index.mdx
  website/blog/2023-12-29-AgentDescriptions/index.mdx
  website/blog/2024-01-23-Code-execution-in-docker/index.mdx
  website/blog/2024-01-25-AutoGenBench/index.mdx
  website/blog/2024-02-02-AutoAnny/index.mdx
Labels: documentation

#1573 add other language drop down link to AutoGen website
  website/docusaurus.config.js
  website/process_notebooks.py
Labels: AutoGen.Net

#1591 Proxy PR for Long Context Capability 1513
  .github/workflows/contrib-openai.yml
  .github/workflows/contrib-tests.yml
  autogen/agentchat/contrib/capabilities/__init__.py
  autogen/agentchat/contrib/capabilities/context_handling.py
  autogen/agentchat/conversable_agent.py
  notebook/agentchat_capability_long_context_handling.ipynb
  test/agentchat/contrib/capabilities/test_context_handling.py
Labels: long context handling

#1601 Complex tasks file support
  autogen/agentchat/contrib/functions/__init__.py
  autogen/agentchat/contrib/functions/file_utils.py
  autogen/agentchat/contrib/functions/functions_utils.py
  autogen/agentchat/contrib/functions/youtube_utils.py
  notebook/agentchat_function_store.ipynb
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgentsFunctionCalling/expected_answer.txt
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgentsFunctionCalling/prompt.txt
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgentsFunctionCalling/requirements.txt
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgentsFunctionCalling/scenario.py
Labels: gaia

#1605 Complex tasks file support
  autogen/agentchat/contrib/functions/file_utils.py
  autogen/agentchat/contrib/functions/functions_utils.py
  autogen/agentchat/contrib/functions/youtube_utils.py
  notebook/agentchat_function_store.ipynb
Labels: gaia

#1600 Hide table of contents on notebooks page
  website/docs/notebooks.mdx
Labels: documentation

#1405 Code executors
  .github/workflows/build.yml
  autogen/agentchat/agent.py
  autogen/agentchat/conversable_agent.py
  autogen/code_utils.py
  autogen/coding/__init__.py
  autogen/coding/base.py
  autogen/coding/embedded_ipython_code_executor.py
  autogen/coding/factory.py
  autogen/coding/local_commandline_code_executor.py
  autogen/coding/markdown_code_extractor.py
  notebook/agentchat_graph_modelling_language_using_select_speaker.ipynb
  pyproject.toml
  setup.py
  test/agentchat/contrib/test_lmm.py
  test/agentchat/test_groupchat.py
  test/agentchat/test_tool_calls.py
  test/coding/test_commandline_code_executor.py
  test/coding/test_embedded_ipython_code_executor.py
  test/coding/test_factory.py
  test/coding/test_markdown_code_extractor.py
  test/test_graph_utils.py
  website/docs/installation/Optional-Dependencies.md
Labels: code-execution

#1581 Rewrite and consolidate configuration docs
  notebook/agentchat_RetrieveChat.ipynb
  notebook/agentchat_auto_feedback_from_code_execution.ipynb
  notebook/agentchat_cost_token_tracking.ipynb
  notebook/agentchat_function_call.ipynb
  notebook/agentchat_function_call_async.ipynb
  notebook/agentchat_function_call_currency_calculator.ipynb
  notebook/agentchat_groupchat.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  notebook/agentchat_groupchat_research.ipynb
  notebook/agentchat_groupchat_vis.ipynb
  notebook/agentchat_human_feedback.ipynb
  notebook/agentchat_langchain.ipynb
  notebook/agentchat_oai_assistant_groupchat.ipynb
  notebook/agentchat_stream.ipynb
  notebook/agentchat_two_users.ipynb
  notebook/config_loader_utility_functions.ipynb
  notebook/contributing.md
  website/.gitignore
  website/docs/Examples.md
  website/docs/FAQ.md
  website/docs/Getting-Started.md
  website/docs/Use-Cases/enhanced_inference.md
  website/docs/llm_configuration.ipynb
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/components/GalleryPage.js
  website/src/components/NotebookUtils.js
  website/src/pages/index.js
  website/yarn.lock
Labels: documentation

#1634 Add LMStudioAgent to consume LLM service from LM studio
  dotnet/AutoGen.sln
  dotnet/eng/MetaInfo.props
  dotnet/nuget/NUGET.md
  dotnet/sample/AutoGen.BasicSamples/AutoGen.BasicSample.csproj
  dotnet/sample/AutoGen.BasicSamples/Example08_LMStudio.cs
  dotnet/sample/AutoGen.BasicSamples/Program.cs
  dotnet/src/AutoGen.LMStudio/AutoGen.LMStudio.csproj
  dotnet/src/AutoGen.LMStudio/LMStudioAgent.cs
  dotnet/src/AutoGen.LMStudio/LMStudioConfig.cs
  dotnet/src/AutoGen.LMStudio/README.md
  dotnet/src/AutoGen/Core/Extension/AgentExtension.cs
  dotnet/src/AutoGen/OpenAI/GPTAgent.cs
  dotnet/website/articles/Consume-LLM-server-from-LM-Studio.md
  dotnet/website/articles/toc.yml
Labels: AutoGen.Net

#1620 [.Net] update test and example project to net8
  dotnet/Directory.Build.props
  dotnet/global.json
  dotnet/src/AutoGen/API/LLMConfigAPI.cs
Labels: AutoGen.Net

#1619 publish nightly build package to github package and myget feed
  .github/workflows/dotnet-build.yml
  dotnet/README.md
Labels: AutoGen.Net

#1649 add dotnet env to dotnet-ci
  .github/workflows/dotnet-build.yml
Labels: AutoGen.Net

#1672 Update Transparency FAQs
  TRANSPARENCY_FAQS.md
Labels: documentation

#1146 Logging
  autogen/agentchat/assistant_agent.py
  autogen/agentchat/conversable_agent.py
  autogen/agentchat/groupchat.py
  autogen/agentchat/user_proxy_agent.py
  autogen/logger/__init__.py
  autogen/logger/base_logger.py
  autogen/logger/logger_factory.py
  autogen/logger/logger_utils.py
  autogen/logger/sqlite_logger.py
  autogen/oai/client.py
  autogen/runtime_logging.py
  notebook/agentchat_logging.ipynb
  test/agentchat/test_agent_logging.py
  test/test_logging.py
  website/docs/Migration-Guide.md
  website/docs/Use-Cases/enhanced_inference.md
Labels: dev

#1616 support azure assistant api
  autogen/agentchat/contrib/gpt_assistant_agent.py
  test/agentchat/contrib/test_gpt_assistant.py
Labels: openai-assistant

#1636 Feature: Get Nested Agents in a `GroupChat`
  autogen/__init__.py
  autogen/agentchat/groupchat.py
  autogen/exception_utils.py
  test/agentchat/test_groupchat.py
Labels: group chat

#1718 Add agent robot example to gallery
  website/src/data/gallery.json
  website/static/img/gallery/robot.jpg
Labels: documentation

#1661 Fix issue 1440 by applying new function registration decorator
  notebook/agentchat_function_call.ipynb
  notebook/agentchat_function_call_async.ipynb
  notebook/agentchat_function_call_currency_calculator.ipynb
  notebook/agentchat_groupchat_RAG.ipynb
  test/agentchat/contrib/test_web_surfer.py
Labels: rag, function/tool

#1627 Command line code sanitation
  autogen/coding/local_commandline_code_executor.py
  test/coding/test_commandline_code_executor.py
  test/test_code_utils.py
Labels: code-execution

#1631 Refactor transform_messages
  autogen/agentchat/contrib/capabilities/context_handling.py
  notebook/agentchat_capability_long_context_handling.ipynb
  test/agentchat/contrib/capabilities/test_context_handling.py
Labels: long context handling

#1754 Improve intro text and fix typos
  website/docs/getting-started/introduction.ipynb
Labels: documentation

#1761 [.Net] Support graph group chat by adding workflow and transition.
  dotnet/sample/AutoGen.BasicSamples/Example04_Dynamic_GroupChat_Coding_Task.cs
  dotnet/sample/AutoGen.BasicSamples/Example04_Dynamic_GroupChat_Get_MLNET_PR.cs
  dotnet/sample/AutoGen.BasicSamples/Example07_Dynamic_GroupChat_Calculate_Fibonacci.cs
  dotnet/sample/AutoGen.BasicSamples/Program.cs
  dotnet/src/AutoGen.DotnetInteractive/Extension/AgentExtension.cs
  dotnet/src/AutoGen/AutoGen.csproj
  dotnet/src/AutoGen/Core/GroupChat/GroupChat.cs
  dotnet/src/AutoGen/Core/Workflow/Workflow.cs
  dotnet/test/AutoGen.Tests/BasicSampleTest.cs
  dotnet/test/AutoGen.Tests/MathClassTest.cs
  dotnet/test/AutoGen.Tests/WorkflowTest.cs
Labels: AutoGen.Net

#1774 Improve language
  website/docs/getting-started/human-in-the-loop.ipynb
  website/docs/getting-started/introduction.ipynb
Labels: documentation

#961 Groupchat send introductions
  autogen/agentchat/groupchat.py
  test/agentchat/test_groupchat.py
Labels: group chat, gaia

#1548 Version 0.0.2 of Autogenbench
  samples/tools/autogenbench/.gitignore
  samples/tools/autogenbench/autogenbench/cli.py
  samples/tools/autogenbench/autogenbench/run_cmd.py
  samples/tools/autogenbench/autogenbench/template/testbed_utils.py
  samples/tools/autogenbench/autogenbench/version.py
  samples/tools/autogenbench/pyproject.toml
  samples/tools/autogenbench/scenarios/AutoGPT/Scripts/init_tasks.py
  samples/tools/autogenbench/scenarios/GAIA/MANIFEST.json
  samples/tools/autogenbench/scenarios/GAIA/Scripts/init_tasks.py
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgents/prompt.txt
  samples/tools/autogenbench/scenarios/GAIA/Templates/BasicTwoAgents/scenario.py
  samples/tools/autogenbench/scenarios/GAIA/Templates/SocietyOfMind/prompt.txt
  samples/tools/autogenbench/scenarios/GAIA/Templates/SocietyOfMind/scenario.py
  samples/tools/autogenbench/scenarios/HumanEval/Scripts/init_tasks.py
  samples/tools/autogenbench/scenarios/MATH/Scripts/init_tasks.py
Labels: autogenbench

#1565 Adding ability to rename sessions in AutoGenStudio
  samples/apps/autogen-studio/autogenstudio/utils/dbutils.py
  samples/apps/autogen-studio/autogenstudio/web/app.py
  samples/apps/autogen-studio/frontend/src/components/types.ts
  samples/apps/autogen-studio/frontend/src/components/views/playground/sessions.tsx
Labels: studio

#1786 Support functions removing in ConversableAgent
  autogen/agentchat/conversable_agent.py
  test/agentchat/test_conversable_agent.py
Labels: function/tool

#1656 [.Net] Streaming support in IAgent, support for streaming middleware plus pulling out pretty-print, user-input and function-call as middleware for easier testing
  dotnet/sample/AutoGen.BasicSamples/CodeSnippet/GetStartCodeSnippet.cs
  dotnet/sample/AutoGen.BasicSamples/CodeSnippet/MiddlewareAgentCodeSnippet.cs
  dotnet/sample/AutoGen.BasicSamples/CodeSnippet/UserProxyAgentCodeSnippet.cs
  dotnet/sample/AutoGen.BasicSamples/Example06_UserProxyAgent.cs
  dotnet/sample/AutoGen.BasicSamples/Example09_LMStudio_FunctionCall.cs
  dotnet/src/AutoGen.DotnetInteractive/Extension/AgentExtension.cs
  dotnet/src/AutoGen/Core/Agent/ConversableAgent.cs
  dotnet/src/AutoGen/Core/Agent/MiddlewareAgent.cs
  dotnet/src/AutoGen/Core/Agent/MiddlewareStreamingAgent.cs
  dotnet/src/AutoGen/Core/Extension/MiddlewareExtension.cs
  dotnet/src/AutoGen/Core/IAgent.cs
  dotnet/src/AutoGen/Core/IStreamingAgent.cs
  dotnet/src/AutoGen/Core/Middleware/DelegateMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/DelegateStreamingMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/FunctionCallMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/HumanInputMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/IMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/IStreamingMiddleware.cs
  dotnet/src/AutoGen/Core/Middleware/MiddlewareContext.cs
  dotnet/src/AutoGen/Core/Middleware/PrintMessageMiddleware.cs
  dotnet/src/AutoGen/OpenAI/GPTAgent.cs
  dotnet/test/AutoGen.Tests/MiddlewareAgentTest.cs
  dotnet/test/AutoGen.Tests/MiddlewareTest.cs
  dotnet/test/AutoGen.Tests/SingleAgentTest.cs
Labels: AutoGen.Net
