Repository microsoft/autogen, pull requests merged in 2025-03, with the labels that each got.

#5308 Add ChromaDBVectorMemory in Extensions
  python/packages/autogen-core/docs/src/user-guide/agentchat-user-guide/memory.ipynb
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/memory/__init__.py
  python/packages/autogen-ext/src/autogen_ext/memory/chromadb.py
  python/packages/autogen-ext/tests/memory/test_chroma_memory.py
  python/uv.lock
Labels: memory

#6022 Add linter to AGBench
  python/packages/agbench/src/agbench/cli.py
  python/packages/agbench/src/agbench/linter/__init__.py
  python/packages/agbench/src/agbench/linter/_base.py
  python/packages/agbench/src/agbench/linter/cli.py
  python/packages/agbench/src/agbench/linter/coders/__init__.py
  python/packages/agbench/src/agbench/linter/coders/oai_coder.py
Labels: proj-autogenbench

#5781 typo fix in llm_configuration.ipynb
  notebook/agentchat_nested_chats_chess_altmodels.ipynb
  website/docs/topics/llm_configuration.ipynb
Labels: 0.2

#5981 Fix some code for clean autogenstudio
  python/packages/autogen-studio/autogenstudio/cli.py
  python/packages/autogen-studio/autogenstudio/web/initialization.py
  python/packages/autogen-studio/autogenstudio/web/serve.py
Labels: proj-studio
