Repository microsoft/autogen, pull requests merged in 2025-01, with the labels that each got.

#4935 Update agent and agent runtime doc with routed agent
  python/packages/autogen-core/docs/src/user-guide/core-user-guide/framework/agent-and-agent-runtime.ipynb
Labels: documentation

#4612 Graphrag integration
  python/packages/autogen-core/docs/src/reference/index.md
  python/packages/autogen-core/docs/src/reference/python/autogen_ext.tools.graphrag.rst
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/tools/graphrag/__init__.py
  python/packages/autogen-ext/src/autogen_ext/tools/graphrag/_config.py
  python/packages/autogen-ext/src/autogen_ext/tools/graphrag/_global_search.py
  python/packages/autogen-ext/src/autogen_ext/tools/graphrag/_local_search.py
  python/packages/autogen-ext/tests/tools/conftest.py
  python/packages/autogen-ext/tests/tools/test_graphrag_tools.py
  python/packages/autogen-ext/tests/tools/test_langchain_tools.py
  python/packages/autogen-test-utils/tests/test.py
  python/pyproject.toml
  python/samples/agentchat_graphrag/.gitignore
  python/samples/agentchat_graphrag/README.md
  python/samples/agentchat_graphrag/app.py
  python/samples/agentchat_graphrag/model_config_template.json
  python/samples/agentchat_graphrag/prompts/community_report.txt
  python/samples/agentchat_graphrag/prompts/entity_extraction.txt
  python/samples/agentchat_graphrag/prompts/summarize_descriptions.txt
  python/samples/agentchat_graphrag/requirements.txt
  python/samples/agentchat_graphrag/settings.yaml
  python/uv.lock
Labels: rag, proj-extensions

#4885 Jupyter Code Executor in v0.4 (alternative implementation)
  python/packages/autogen-core/docs/src/reference/index.md
  python/packages/autogen-core/docs/src/reference/python/autogen_ext.code_executors.jupyter.rst
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/code_executors/jupyter/__init__.py
  python/packages/autogen-ext/src/autogen_ext/code_executors/jupyter/_jupyter_code_executor.py
  python/packages/autogen-ext/tests/code_executors/test_jupyter_code_executor.py
  python/uv.lock
Labels: proj-extensions

#5175 Add dependencies to distributed group chat example
  python/samples/core_distributed-group-chat/.gitignore
  python/samples/core_distributed-group-chat/README.md
  python/samples/core_distributed-group-chat/requirements.in
  python/samples/core_distributed-group-chat/requirements.txt
Labels: documentation, dependencies

#5187 Fixed typo fixing issue #5186
  dotnet/samples/Hello/HelloAIAgents/Program.cs
Labels: dotnet

#5195 update dependencies to work with protobuf 5
  python/packages/autogen-core/pyproject.toml
  python/packages/autogen-core/tests/protos/serialization_test_pb2.py
  python/packages/autogen-core/tests/protos/serialization_test_pb2_grpc.py
  python/packages/autogen-ext/pyproject.toml
  python/packages/autogen-ext/src/autogen_ext/runtimes/grpc/protos/agent_worker_pb2.py
  python/packages/autogen-ext/src/autogen_ext/runtimes/grpc/protos/agent_worker_pb2_grpc.py
  python/packages/autogen-ext/src/autogen_ext/runtimes/grpc/protos/cloudevent_pb2.py
  python/packages/autogen-ext/src/autogen_ext/runtimes/grpc/protos/cloudevent_pb2_grpc.py
  python/packages/autogen-ext/tests/protos/serialization_test_pb2.py
  python/packages/autogen-ext/tests/protos/serialization_test_pb2_grpc.py
  python/packages/autogen-ext/tests/protos/serialization_test_pb2_grpc.pyi
  python/pyproject.toml
  python/samples/core_xlang_hello_python_agent/protos/agent_events_pb2.py
  python/samples/core_xlang_hello_python_agent/protos/agent_events_pb2_grpc.py
  python/uv.lock
Labels: dependencies
